/* for the whole page */
html {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background-color: #d5dadb;
}

h1 {
	font-size: 60px;
	text-align: center;
}

/* class selector */
.label {
	font-size: 24px;
	color: #bd8b3e;
	text-align: center;
	border: 1px solid black;

	/*
		Width alone will offset the center align so that the text is centered within the 800 px
		Add in margin to center the width
	*/
	width: 800px;
	margin: 15px auto;
}

p, li {
	font-size: 16px;
	line-height: 1.5; /*  */
	letter-spacing: 1px;
}

/* id selector */
#ConceptArt {
	
}

a {
	color: #00b7ff;
}
